appdirs==1.4.4
astroid==2.4.2
attrs==19.3.0
beautifulsoup4==4.9.1
bleach==3.1.5
certifi==2020.4.5.2
chardet==3.0.4
check-manifest==0.42
click==7.1.2
colorama==0.4.3
distlib==0.3.0
docutils==0.16
filelock==3.0.12
Flask==1.1.2
Flask-SQLAlchemy==2.4.3
gunicorn==20.0.4
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==21.2.1
lazy-object-proxy==1.4.3
loremipsumpy==0.0.2
loremipsumsumit==1.0
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
pep517==0.8.2
Pillow==7.1.2
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.9.0
Pygments==2.6.1
pylint==2.5.3
pyNewsApi==0.0.1
pyparsing==2.4.7
pytest==5.4.3
qrcode==6.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.17
toml==0.10.1
tqdm==4.47.0
twine==3.2.0
urllib3==1.25.9
virtualenv==20.0.23
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wikipedia==1.4.0
wrapt==1.12.1
